* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #000000;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin: 150px;
}

header {
    align-items: baseline;
    justify-content: space-between;
    padding: 5%;
    width: 70.13%;
    margin: 0 auto;
}

a {
  /* display:block; */
  align-items: center;
  padding: 48px inherit;
  background-color: purple;
  color: white;
  /* width: 150px; */
  margin: 0 30px;
}

header h1 {
      font-size: 50px;
      font-weight: 700;
      /*  5px = .3125em  */
      /*    letter-spacing: .3125em; */
      letter-spacing: 2px;
  }

h1 {
font-style: 'Montserrat', sans-serif;
  color:#ffffff;
  font-weight:400;
  font-size:50px;
  padding: 0px;
margin: 0px;
  /* margin-top: -100px;
  margin-bottom: -50px; */
}

.subhead {
  font-style: 'Montserrat', sans-serif;
    color:#ffffff;
    font-weight:400;
    font-size:50px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 5%;
  }

.flex-box {
    display: flex;
  }

.spacing-box img {
  margin: 0 auto;
display: block;
}

  .project-number {
  margin-right:
  }
