* {
  margin: 0;
  padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #000000;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin: 150px;
}

header {
    align-items: baseline;
    justify-content: space-between;
    padding: 5%;
    width: 70.13%;
    margin: 0 auto;
}

a {
  display:block;
  align-items: center;
  padding: 48px:inherit;
  background-color: purple;
  color: white;
  width: 150px;
  margin: 0 auto;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


header h1 {
      font-size: 50px;
      font-weight: 700;
      /*  5px = .3125em  */
      /*    letter-spacing: .3125em; */
      letter-spacing: .15625em;
  }

h1 {
font-style: 'Montserrat', sans-serif;
  color:#ffffff;
  font-weight:400;
  font-size:50px;
  padding: 0px;
margin: 0px;
  margin-top: -100px;
  margin-bottom: -50px;
}

.subhead {
  font-style: 'Montserrat', sans-serif;
    color:#ffffff;
    font-weight:400;
    font-size:50px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

.project-number {
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .15625em;
    font-family: 'Oswald', sans-serif;
}

.container {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 5%;
    border-radius: 1em;

.flex-box {
    display: flex;
  }

.spacing-box img {
  width: 100%;
  margin: 0 auto;

}

  .project-number {
  margin-right:
  }
