* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #17232f;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin: 150px;
}

header {
    align-items: baseline;
    justify-content: space-between;
    padding: 2%;
    width: 70.13%;
    margin: 0 auto;
}

a {
  display: block;
    margin-left: 611px;
    /* top: 29px; */
    align-items: center;
    padding: 20px;
    /* background-color: #716c71; */
    color: #b86059;
    margin-top: 8px;
}

header h1 {
      font-size: 50px;
      font-weight: 700;
      /*  5px = .3125em  */
      /*    letter-spacing: .3125em; */
      letter-spacing: 2px;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    /*  5px = .3125em  */
    /*    letter-spacing: .3125em; */
    letter-spacing: 2px;
    color: white;
  }

h1 {
font-style: 'Montserrat', sans-serif;
  color:#ffffff;
  font-weight:400;
  font-size:50px;
  padding: 0px;
margin: 0px;
  /* margin-top: -100px;
  margin-bottom: -50px; */
}

.subhead {
  font-style: 'Montserrat', sans-serif;
    color:#ffffff;
    font-weight:400;
    font-size:50px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 5%;
  }

.flex-box {
    display: flex;
  }

.spacing-box img {
  /* margin: 0px;  */
    /* left: 116px; */
    display: block;
    width: 398.5px;
    height: 371.5px;
    margin-left: 177px;
    top: -390px;
    position: relative;
}

  .project-number {
  margin-right:
  }
