.sources div {
  /* By applying a width to this div we are saying how wide we want the sources box to be. By putting width to this object we don't have to worry about applying other widths to the items in this section. */
  border: #8c8383 solid 2px;
    border-radius: 10px;
    padding: 19px;
    width: 423px;
    /* left: 20px; */
    margin-left: 118px;
    margin-top: 36px;
    margin-right: 0px;
}

.sources {
  /* This will push the sources column down and offset it with the button */
  margin-top: 23px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Red Rose', light;
/* font-family:'Red Rose', Regular */
  background-color: #000000;
  /* color: #431571;*/
  font-size: 18px;
  margin: 150px;
}

#container {
  /* margin: 0; auto; */
  padding: 0;
  /* width: 1024px; */
}

p {
  /* an em is defined by the parent element that has defined the main value.
  In this case all elements are inheriting the 18px value from the body tag */
  /******** There is no stylesheet calling in the Lato typeface. */
font-family: 'Lato',thin ;
  font-size: 1em;
  /* 1em = 18px */
  font-weight: 200;
    color: #606060;
}

h1 {
  color: #ffffff;
  font-weight: 400;
  font-family: 'Red Rose', sans-serif;
  font-size: 451px;
  padding: 0px;
  margin-left: -31px;
  margin-top: -91px;
}

/* TYPOGRAPHY */

h2 {
  font: 'Red Rose', light;
  font-weight: 400;
  font-size: 2em;
  margin: 0;
  padding: 0;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 32px;
    margin-top: -5px;
}

h3 {
  /* 24/18 = 1.3333em */
  font-family: 'Red Rose', sans-serif;
    font-size: 30px;
    font-weight: 400;
    /* margin: 73px; */
    padding: 0;
    text-align: right;
    /* margin-top: -15px; */
    }

h4 {
font: 'Red Rose', light;
font-size: 14px;
  font-weight: 200;
  /* text-align: center; */
  margin-right: 13px;
  margin-left: 20px;
}

.letter-container {
  display: flex;

}

.character-highlights {
  text-transform: uppercase;
  font-size: 3em;
  /* 60/18 = 3.3333em */
}

a {
color: #606060;
  text-decoration: underline;
  /* color: #7EA9DD; */
  /* #2A4714 */

}

div {
  color: #FFF;
    font-weight: 300;
    padding: 0px;
    border: 0px solid #524c4c;
    border-radius: 0px;
    margin: 22px;
}

.flexybox {
  display: flex;
      /* align-items: left; */
      /* margin-left: 28px; */
      margin-top: 36px;
      border-radius: 10px;
}

/* element.style {
position: absolute;
  margin-top: -1450px;
  margin-left: 30px;
}  */

.history-writeup {
  margin-top: 50px;
}

.body-copy p {
  font-size:28px;
}

footer {
  margin-top: 150px;
  position: relative;
    z-index: 99;
}

#my-photo {
  width: 127px;
    height: 137px;
    margin-left: 143px;
    border-radius: 23px;
    border: #19191D solid 8px;
    margin-top: -39px;
}

.personal-title {
  /* 29% x 1024px = 300px */
  width: 300px;
    margin-left: -4px;
    margin-bottom: 118px;
    margin-top: 68px;
}

.row {
  display:flex;
}
.body-copy {
  border-right: #b9afaf solid .5px;
    padding-right: 100px;
    width: 750px;
    height: 358px;
}

.character-highlights {
  color: #D9C44F;
      border-left: #b9afaf solid .5px;
      padding-left: 25px;
      width: 100px;
      height: 358px;
      overflow-x: hidden;
      overflow-y: scroll;
}

.left-column {
  margin-right: 10px;
}
.right-column {
  margin-left: 46px;
}

button {
  border: #440909 solid 68px;
    border-radius: 21px;
    width: 426px;
    height: 166px;
    font-family: 'Red Rose', light;
    text-transform: uppercase;
    background-color: #440909;
    font-size: 30px;
    color: #AB252D;
    margin-top: 10px;
    position: relative;
    z-index: 9999;
}

#footer-rectangle-one {
  height: 74px;
    width: 96%;
    background-color: #48070773;
    position: relative;
    bottom: 184px;
    border-radius: 10px;
  }


#footer-rectangle-two {
  height: 43px;
    width: 96%;
    background-color: #e6c0c014;
    position: relative;
    bottom: 339px;
    border-radius: 10px;
  }

  #lines-below-header {
    margin: 0 auto;
    /* width of the header + 100px = the width of our lines */
    /* 530.35px + 100px = 630.35px */
    width: 630.35px;
  }

  #lines-below-header div {
    margin: 22px 0px;
  }

  .thin-brown-line {
    height: 3px;
    background-color: #524a4a;
  }

  #green-header-rectangle {
    height: 74px;
    background-color: #A3A56297;
    border-radius: 10px;
  }

#letter-container2 img {
  /* bottom: 11px; */
    display: flex;
    position: absolute;
    left: 384px;
    top: 140px;
}

#letter-container3 img{
  /* display: flex; */
    position: absolute;
    right: 435px;
    top: 140px;
}

.letter-container {
  position: relative;
    height: 311px;
    width: 257px;
    top: -12px;
}

#letter-analysis2 {
  opacity: 0;
}

#letter-analysis2.visible {
  opacity: 1;
  position: absolute;
bottom: -17px;
}

header {
  display: flex;
  align-items: baseline;
  /* width = roses + letter-container */
  /* width = 113.8 + 113.8 + 302.75 = 530.35px */
  width: 664.4px;
  /* width: 657px; */
  margin: 0 auto;
}

.roses {
  /* 0.519650655 ratio width to height */
  height: 340px;
}
