.sources div {
  /* By applying a width to this div we are saying how wide we want the sources box to be. By putting width to this object we don't have to worry about applying other widths to the items in this section. */
    border: #fff solid 2px;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin-left: 122px;
    /* margin-right: 88px; */
}

.sources {
  /* This will push the sources column down and offset it with the button */
  margin-top:100px;
}


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Red Rose', light;
/* font-family:'Red Rose', Regular */
  background-color: #000000;
  /* color: #431571;*/
  font-size: 18px;
  margin: 150px;
}

#container {
  margin: 0; auto;
  padding: 0;
  width: 1024px;
/*  height: 768px;*/
}

p {
  /* an em is defined by the parent element that has defined the main value.
  In this case all elements are inheriting the 18px value from the body tag */
  /******** There is no stylesheet calling in the Lato typeface. */
font-family: 'Lato',thin ;
  font-size: 1em;
  /* 1em = 18px */
  font-weight: 200;
    color: #606060;
}

h1 {
  color: #ffffff;
font-weight: 400;
font-style: 'Red Rose', regular;
font-size: 450px;
padding: 0px;
margin: 0px;
margin-top: -100px;
margin-right: 331px;
margin-bottom: -50px;
margin-left: 405px;
margin-top: -100px;
margin-bottom: -50px;
align-content: center;
}

/* TYPOGRAPHY */
h2,h3 {
  color: #e9e8e8;
  font: 'Red Rose', regular;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 32px;
    margin-top: -5px;
}

h3 {
  /* 24/18 = 1.3333em */
  font-size: 1.3333em;
  /*border: #707070 solid 10px;
  border-radius: 10px;
  font-size: 1.3333em;
  width: 238px;
height: 109px;*/
font-family: 'Red Rose', light;
/* margin-top: 115px;
padding-left:200px; */
text-align: center;
}

.letter-container {
  display: flex;

}

.character-highlights {
  text-transform: uppercase;
  font-size: 3em;
  /* 60/18 = 3.3333em */
}

a {
color: #606060;
  text-decoration: underline;
  /* color: #7EA9DD; */
  /* #2A4714 */

}


h4 {
  font-size: 14px;
    font-weight: 200;
    light: ;
    text-align: center;
    margin-left: 41px;
}

div {
  color: #FFF;
    font-weight: 300;
    padding: 0px;
    border: 0px solid #524c4c;
    border-radius: 0px;
    margin: 22px;
}

.flexybox {
  display: flex;
  align-items: left;
  margin-left: 28px;
  margin-top: 70px;
  border-radius: 10px;
}

/* element.style {
position: absolute;
  margin-top: -1450px;
  margin-left: 30px;
}  */

.letter-container2 {
  /* bottom: 11px; */
  position: absolute;
  left: 180px;
  margin-top: 195px;
    top: 10px;

    /* position: absolute;
    left: 158px;
    margin-top: 157px;
    top: 10px; */
}

.history-writeup {
  margin-top: 50px;
}

.body-copy p {
  font-size:24px;
}

footer {
  margin-top: 150px;
  position: relative;
    z-index: 99;
}

#my-photo {
width: 150px;
    height: 150px;
    margin-left: 265px;
    border-radius: 10px;
    border: #19191D solid 8px;
}

.personal-title {
  /* 29% x 1024px = 300px */
  width: 300px;
  margin-left:-4px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.row {
  display:flex;
}
.body-copy {
  border-right: #b9afaf solid .5px;
  padding-right: 25px;
  width: 750px;
}

.character-highlights {
color: #D9C44F;
  border-left: #b9afaf solid .5px;
  padding-left: 25px;
  width: 120px;
  height: 354px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.left-column {
  margin-right: 10px;
}
.right-column {
  margin-left: 46px;
}

button {
  border: #440909 solid 45px;
      border-radius: 10px;
      width: 300px;
      height: 146px;
      font-family: 'Red Rose', light;
      text-transform: uppercase;
      background-color: #440909;
      font-size: 26px;
      color: #AB252D;
      margin-top: -37px;
      margin-right: 24px;
}

#footer-rectangle-one {
  height: 79px;
    width: 95%;
    background-color: #48070750;
    position: absolute;
    bottom: 46px;
    border-radius: 10px;
}

#footer-rectangle-two {
  height: 50px;
    width: 95%;
    background-color: #E6C0C012;
    position: absolute;
    bottom: 137px;
    border-radius: 10px;
}

#footer-rectangle-three {
  height: 63px;
      width: 95%;
      background-color: #A3A56297;
      border-radius:10px;
}

#footer-rectangle-four{
height: 3px;
width: 52%;
background-color: #524a4a;
position: center;
bottom: 135px;
/* border-radius: 10px; */
top: 194px;
margin-left: 282px;
margin-left: center;
}

#footer-rectangle-five{
height: 3px;
width: 52%;
background-color: #524a4a;
position: center;
bottom: 145px;
/* border-radius: 10px; */
top: 194px;
margin-left: 282px;
margin-left: center;
}

#footer-rectangle-six{
height: 3px;
width: 52%;
background-color: #524a4a;
position: center;
bottom: 155px;
/* border-radius: 10px; */
top: 194px;
margin-left: 282px;
margin-left: center;
}

#center {
display: block;
  margin-left: 20px;
  margin-bottom: -15px;
}

#image-3 {
  margin-left: 30px;
  display:block;
  margin-top: 30px:
}

#image-1 {
  margin-right: 33px;
}
